[Desktop Entry]
Name=Ainyava
X-KDE-PluginInfo-Author=Hamed Mahmoudkhani
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=ainyava@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Ainyava
X-KDE-PluginInfo-Version=1.0.0
