[Desktop Entry]
Name=Ainyava
Comment[es]=Un tema oscuro y moderno para plasma.
Comment=A dark and  modern theme for plasma.
X-KDE-PluginInfo-Author=Hamed Mahmoudkhani
X-KDE-PluginInfo-Email=ainyava@gmail.com
X-KDE-PluginInfo-Name=Ainyava
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/ainyava/ainyava-kde
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true

[Wallpaper]
defaultWallpaperTheme=Ainyava
defaultFileSuffix=.jpg
defaultWidth=1920
defaultHeight=1080
