[Desktop Entry]
Name=Ainyava
X-KDE-PluginInfo-Name=Ainyava
X-KDE-PluginInfo-Author=Hamed Mahmoudkhani
X-KDE-PluginInfo-Website=https://ainyava.ir
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 4.0
